.register-view{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 18rem;
    text-align: center;
}

.logoTitle {
    font-family: 'Permanent Marker', cursive;
    font-size: 64px;
    color: #243B53;
    
}

input {
    border: none;
    padding: 4px;
}



